@import "tailwindcss";

.gradient {
  background: linear-gradient(180deg, #abf50c 0%, #7c6394 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}

@layer components {
  .card {
    @apply overflow-hidden 
    bg-white 
    border-2 border-red-600/50 
    rounded-lg shadow-md 
    hover:shadow-red-600/30 
    transition-all duration-300 
    md:min-w-[300px] min-w-[180px] md:min-h-[200px] h-full
    flex flex-col justify-center items-center 
    p-4 space-y-4;
  }
  .sponsor-title {
    @apply text-center font-bold p-8 text-4xl text-red-600  border-b-4 border-yellow-600 mx-auto w-max mb-10;
  }
}

body {
  background-color: #0a0a12;
  color: white;
}
.rfm-marquee-container:first-child {
  height: none;
}
.rfm-marquee-container {
  height: 280px;
}
/* rgb(230,113,113)
rgb(237,180,180)
rgb(217,205,205)
rgb(120,88,88) */
